<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <% if (!currentUser) {%>
    <a href="/sign-up"> sign up</a>

    <a href="/log-in"> log in</a>

    <%} %> <% if (currentUser) { %>
    <p>Welcome, <%= currentUser.username %>!</p>
    <a href="/log-out"> log out</a>

    <form action="/user/<%= currentUser.id %>/delete" method="post">
      <button type="submit" id="delete btn">delete this user</button>
    </form>
    <% } %>

    <h1 id="title"><%= title %></h1>

    <div class="grid-container">
      <% for (let i = 0; i < messages.length; i++) { %>
      <a href="/message/<%= messages[i].id %>">
        <div class="message-box">
          <div class="user"><%= messages[i].username %></div>
          <div class="text">
            <% if (messages[i].text.length > 40) { %> <%=
            messages[i].text.substring(0, 40) + '…' %> <% } else { %> <%=
            messages[i].text %> <% } %>
          </div>
          <div class="time"><%= messages[i].time_added.toLocaleString() %></div>
        </div>
      </a>

      <% } %>
    </div>

    <a href="/new">
      <button class="bt">Write a New Message</button>
    </a>
  </body>
</html>
