<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="detail-page">
    <div class="message-detail-container">
      <h1>Message from <%= message.username %></h1>
      <p><strong>Sent:</strong> <%= message.time_added %></p>
      <p><strong>Message:</strong></p>
      <blockquote><%= message.text %></blockquote>
      <a href="/" class="button-link">â† Back to Board</a>

      <% if(currentUser) { %> <% if (message.username === currentUser.username)
      { %>

      <form action="/message/<%=message.id%>/delete" method="post">
        <button type="submit" class="delete btn">delete this post</button>
      </form>

      <a href="/message/<%= message.id%>/update"> update this post</a>

      <% } %> <% } %>
    </div>
  </body>
</html>
